body {
    font-family: Arial, sans-serif;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.faq-item:hover,
.faq-item:focus {
    background-color: #f9f9f9;
}

.faq-item:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 2px #007bff; /* Add custom focus outline */
}

.faq-title {
    font-weight: bold;
}

.faq-content {
    display: none;
    padding: 10px;
    font-weight: normal;
}
